<div class="container justify-content-center text-center">
    <h1>Administración de artículos</h1>
    <table class="table table-bordered table-striped m-4">
      <tr>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Terminado</th>
        
      </tr>
      <!-- Elementos del array que se mostraran en la tabla -->
      <tr *ngFor="let item of datosPull"><!--  -->
        <td>{{item.titulo}}</td>
        <td>{{item.descripcion}}</td>
        <td>
            <button  class="btn btn-primary mx-1">Finalizado</button>
            <button  class="btn btn-primary mx-1" (click)="deleteTarea(item)">Borrar</button>
        </td>
      </tr>
    </table>
  </div>